body {
  font-family: Georgia, serif;
  background: #f9f7f1;
  margin: 0;
  padding: 0;
  color: #4a503d;
}

header {
  background: #7b8f67;
  padding: 15px 25px;
  color: #f0efe8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 4px 10px rgb(123 143 103 / 0.4);
}

header input[type="text"] {
  border-radius: 30px;
  padding: 8px 15px;
  border: 2px solid #a0b38c;
  font-size: 1rem;
  font-family: 'Georgia', serif;
  outline-color: #7b8f67;
  width: 220px;
  transition: all 0.3s ease;
}

header input[type="text"]:focus {
  border-color: #5b6b44;
  background-color: #e6ebda;
}

.back-button {
  background: #fefcea;
  padding: 8px 14px;
  border-radius: 20px;
  color: #7b8f67;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #7b8f67;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #e6ebda;
}

.feed-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 0 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.post {
  background: #fff8ec;
  padding: 18px 22px;
  margin-bottom: 18px;
  border-radius: 22px;
  box-shadow: 4px 4px 15px rgba(107, 106, 88, 0.25);
  font-family: 'Georgia', serif;
  position: relative;
}

.post .poster-name {
  font-size: 20px;
  font-weight: bold;
  
  color: #2a9d8f;
  margin-bottom: 8px;
}

.post .task-text {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 8px;
  padding: 10px;
}

.post .category-label {
  display: inline-block;
  padding: 4px 10px;
  width: 98%;
  border-radius: 12px;
  font-size: 0.9rem;
  color: white;
  background-color: #2a9d8f;
  font-weight: 600;
}

.post-images {
  display:flex;
  gap: 10px;
  padding: 10px;
}

.post-images .image {
  width: 250px;
  border-radius: 20px;
}

.post-header {
 display: flex;
 align-items: center;
 gap: 10px;
 padding: 10px;
}

.profile-pic {
  display: flex;
  border-radius: 50px;
  border: 3px solid #3a6a53;
  width: 70px;
  height: 70px;
  object-fit: cover;
}



